* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    background: url("img/headerbg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.row{
    display: flex;
    justify-content: space-between;
}
.col{
    padding: 40px 23px;
    display: flex;
}
.col p{
    font-size: 1.3em;
    position: relative;
    color: white;
}
.col i{
    font-size: 1.9em;
    color: red;
}
.col menu{
    display: flex;
}
.col menu li a{
    padding-right: 65px;
    color: white;
}
.row1{
    position: absolute;
    bottom: 50px;
    left: 30px;
    text-align: right;
    color: white;
}
.row1 h1{
    font-size: 40px;
}
.row1 h5{
    font-size: 15px;
}



@media only screen and (min-width: 768px) {

    
}