* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
}
.bg-yasil{background-color: #a1c927;}
.bg-qirmizi{background-color: #fd634d;}
.bg-ag{background-color: white;}

header{
    background: url("img/headerbg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.col1{
    padding: 40px 23px;
    display: flex;
}
.col1 p{
    font-size: 1.3em;
    position: relative;
    color: white;
}
.col1 i{
    font-size: 1.9em;
    color: red;
}
.col1 menu{
    display: flex;
}
.col1 menu li a{
    padding-right: 65px;
    color: white;
}
.row1{
    position: absolute;
    bottom: 50px;
    left: 30px;
    text-align: right;
    color: white;
}
.row1 h1{
    font-size: 40px;
}
.row1 h5{
    font-size: 15px;
}
.row{
    display: flex;
    width: 80%;
}
.col25{
    width: 25%;
    padding: 110px 20px;
    color: white;
}
.col25 h3{
    padding:24px 0 ;
}
.main1{
    justify-content: center;
    display: flex;
}
.col25 button{
    margin-top: 25px;
    background-color: transparent;
    border: none;
    color: white;
}
.col25 i{
    font-size: 2.5em;
}

@media only screen and (min-width: 768px) {

    
}